@charset "UTF-8";

@import url("../iconfonts/fontawesome-free/css/all.min.css");
@import url("../iconfonts/ionicons/css/ionicons.min.css");
@import url("../iconfonts/feather/feather.css");
@import url("../iconfonts/typicons.font/typicons.css");
@import url("../iconfonts/materialdesignicons/materialdesignicons.css");
@import url("../iconfonts/themify/themify.css");
@import url("../iconfonts/cryptofont/css/cryptofont.min.css");
@import url("../iconfonts/line-awesome/css/line-awesome.css");
@import url("../iconfonts/simple-line-icons/simple-line-icons.css");
@import url("../iconfonts/flag-icon-css/css/flag-icon.min.css");
@import url("../iconfonts/boxicons/css/boxicons.css");
@import url("../iconfonts/bootstrap-icons/icons/font/bootstrap-icons.css");

@import url("../iconfonts/pe7-icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css");
@import url("../iconfonts/weather-icons-master/css/weather-icons.css");